{erl_opts, [debug_info]}.
{deps, [
  {cowboy, {git, "git://github.com/ninenines/cowboy", {branch, "master"}, {tag, "2.9.0"}}},
  {jiffy, {git, "https://github.com/davisp/jiffy", {branch ,"master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [ttt]}
]}.

% profiles
{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warnings_as_errors]},
    {relx, [{dev_mode, false}]}
  ]}
]}.

% release
{relx, [
          {
            release, 
            {ttt, "0.1.0"},
            [ttt]
          },
          {dev_mode, false},
          {include_erts, false},
          {extended_start_script, true}
        ]
}.